<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Event Booking</title>
    <link rel="stylesheet" href="/static/css/home.css">
</head>
<body>

    <header>
        <div class="logo">EventBook</div>
        <nav>
            <a href="#">Home</a>
            <a href="{% url 'booked_evnts' %}">Events booked</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
            <a href="#" class="btn">Book Now</a>
        </nav>
    </header>
    <section class="hero">
        <h1>Book Amazing Events Near You</h1>
        <p>Concerts, Weddings, Conferences & More</p>
        <button>Explore Events</button>
    </section>

    <section class="events">
        <h2>Upcoming Events</h2>
        <div class="event-container">
                {% for i in event_m %}
                <a href="{% url 'allevents' i.id %}">
            <div class="event-card">
                {{i.title}}
                
            </div>
                </a>
                {% endfor %}
        </div>
    </section>

    <footer>
        <p>© 2025 EventBook. All Rights Reserved.</p>
    </footer>

</body>
</html>

<style>
    a{
        text-decoration: none;
    }
</style>
